       <div class="sidebar">
        <nav>
            <ul class="navbar">
                <li><a href="/front" {{#if frontpage}}style="text-decoration: underline;"{{/if}}><i class="">Framside</i><img src="svg/front.svg"></a></li>
                <li><a href="/profile" {{#if profilepage}}style="text-decoration: underline;"{{/if}}><i class="">Min profil</i><img src="svg/user.svg"></a></li> 
                {{#if elev}}
                <li><a href="/elev" {{#if adminpage}}style="text-decoration: underline;"{{/if}}><i class="">ElevSide</i><img src="svg/elev.svg"></a></li>
                {{/if}}
                {{#if admin}}
                <li><a href="/elev" {{#if adminpage}}style="text-decoration: underline;"{{/if}}><i class="">ElevSide</i><img src="svg/elev.svg"></a></li>
                <li><a href="/admin" {{#if adminpage}}style="text-decoration: underline;"{{/if}}><i class="">Admin</i><img src="svg/lock.svg"></a></li>
                {{/if}}
                
                <li><a href="/logout"><i class="">Logg ut</i><img src="svg/out.svg"></a></li>
            </ul> 
        </nav>
    </div>